extends layout

block content
    include usernav 
    .container
        .row
            .col-lg-12.text-center(style='padding-left:20%; padding-right:20%;')
                h1 Current Clinic Stock
                ul#inventoryListId.list-group(style='margin-top: 40px;')