extends layout

block content
    .container
        .row
            .col-lg-12.text-center(style='padding-left:20%; padding-right:20%;')
                h1 Low Stock Clinics
                ul#shortageListId.list-group(style='margin-top: 40px;')