extends layout

block noheader
    .container
        .col-lg-12.text-center
            h2 Sign In
            .panel-body(style='padding-top:30px')
                #loginAlert.alert.alert-danger(style='display:none')
                div(style='margin:0 auto; width:200px;')
                    form#loginForm(method='post')
                        .input-group(style='padding-bottom: 25px; padding-top: 40px;')
                            input#loginEmailInputField.form-control(type='text', name='username', placeholder='email')
                        .input-group(style='padding-bottom: 25px')
                            input#loginPasswordInputField.form-control(type='password', name='password', placeholder='password')
                        .input-group
                            button.btn.btn-primary.btn-block(type='submit')
                                | Signin 

    